body {
  margin: 0;
  width: 100%;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
}

.logo {
  color: MediumAquamarine;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  padding-left: 15px;
  width: 100%;
}

.logo span {
  padding-left: 10px;
}

nav {
  display: inline-flex;
  padding-right: 15px;
}

nav a {
  color: black;
  padding: 10px;
}
/* Content CSS */

.content {
  display: flex;
  padding-top: 85px;
}
.column.large {
  width: 630px;
  border: 1px solid black;
}

.column.medium {
  width: 300px;
  border: 1px solid red;
}

.column.small {
  width: 240px;
  border: 1px solid green;
}

.story {
  border: 1px solid purple;
}

.main-story, .no-article {
  border: 1px solid brown;
}
