body {
  margin: 0;
  width: 100%;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* "Header CSS" */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.logo {
  color: MediumAquamarine;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  padding-left: 15px;
  width: 100%;
}

.logo span {
  padding-left: 10px;
}

nav {
  display: inline-flex;
  padding-right: 15px;
}

nav a {
  color: black;
  padding: 10px;
}

/* Content CSS */

div {
  display: block;
}
.content {
  display: flex;
  padding-top: 85px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
  margin-left: 10px;
  margin-top: 20px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
  margin-top: 15px;
}

.lead-story .image-content {
  background-image: url("resources/images/main-story.png");
  display: flex;
  font-size: 40px;
}

.fall-article.image-content {
  background-image: url("resources/images/fall-season.png");
  padding: 10px;
}

.cat-ceo.image-content {
  background-image: url("resources/images/cat-ceo.png");
}

.cameraman.image-content {
  background-image: url("resources/images/hipster.png");
  padding: 10px;

}

.image-content {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  height: 280px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}

.story .text-content {
  padding: 10px;
}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  padding-bottom: 15px;
}

.news-bites .bites {
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 18px;
  border-bottom: 1px solid black;
}

/* "Footer CSS" */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  height: 250px;
  font-family: Verdana;
  font-size: 12px;
}

footer .title {
  display: inline-block;
  padding-right: 15px;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.copyright {
  padding-top: 5px;
}
